<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <aside class="sidebar">
        <h3>Pessoas para Seguir</h3>
        <div class="sugestao" *ngIf="sugestoes && sugestoes.length > 0">
            <img src="techinsider_perfil.png" alt="Avatar" class="avatar">
            <div class="info">
                <strong>{{ sugestoes[0].nome }}</strong>
                <span>{{ sugestoes[0].seguidores }} seguidores</span>
            </div>
            <button>Seguir</button>
        </div>
        <div class="sugestao" *ngIf="sugestoes && sugestoes.length > 0">
            <img src="fashionMon.png" alt="Avatar" class="avatar">
            <div class="info">
                <strong>{{ sugestoes[0].nome }}</strong>
                <span>{{ sugestoes[0].seguidores }} seguidores</span>
            </div>
            <button>Seguir</button>
        </div>
    </aside>
</body>

</html>